html, body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.header h1 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    color: red;
    margin: 16px;
}

button {
    border: 2px solid red;
    background-color: whitesmoke;
    font-size: 20px;
    font-weight: 900;
    color: red;
    padding: 10px;
    border-radius: 6px;
    
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    min-width: 700px;
    min-height: 700px;
    border: 12px solid red;
    border-radius: 20px;
}

.container div, .divs div{
    flex: auto;
    display: flex;
    flex-direction: column;
}

.selected {
    background-color: red;
}